.containerNav{
    display: flex;
    margin: 0px !important;
    height: 70px;
    align-items: center;
    min-width: 100%;
}

.buttonCollapse{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoNavBar{
    max-height: 100%;
    padding: 10px;
    margin-right: 20px;
}

.iconUserBar{
    display: flex;
    width: 10%;
    height: auto;
    align-items: center;
}

.iconUser{
    min-width: 50%;
    max-width: 50%;
    padding: 10px;
    height: auto;
}

.content{
    margin-top: 80px;
    background: rgb(0, 0, 0, 0.04);
    height: calc(100% - 180px);
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
}

.footer{
    height: 100%;
    width: 100%;
}

.logoFooter{
    max-height: 100%;
    padding: 10px;
}

@media screen 
and (max-width: 590px) {
    .nav-link {
        font-size: 5px;
    }

    .iconUser{
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .navbar-brand{
        font-size: 10px !important;
    }

    .buttonCollapse{
        padding: 0px !important;
    }
}

@media screen 
and (min-width: 590px) 
and (max-width: 1120px) {
    .nav-link {
        font-size: 10px;
    }

    .iconUser{
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .navbar-brand{
        font-size: 15px !important;
    }

    .buttonCollapse{
        padding: 0px !important;
    }
}