.containerNav{
    display: flex;
    margin: 0px !important;
    height: 70px;
    align-items: center;
    min-width: 100%;
}
.navbar-nav{
    width: 40%;
}
.logoNavBar{
    max-height: 100%;
    padding: 10px;
    margin-right: 20px;
}
.iconUserBar{
    display: flex;
    width: 10%;
    height: auto;
    align-items: center;
}
.iconUser{
    min-width: 70%;
    height: auto;
}
.content{
    margin-top: 80px;
    background: rgb(0, 0, 0, 0.04);
    height: calc(100% - 180px);
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
}

.footer{
    height: 100%;
    width: 100%;
}

.logoFooter{
    max-height: 100%;
    padding: 10px;
}
.welcome{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('../pictures/welcome_background.jpg');
    background-position: center center;
}

.preferSpot{
    width: 100%;
    padding: 50px;
}

.favSpot{
    width: 100%;
    margin: 20px;
}