body{
    position: absolute;
    top: 0px;
    height: 100%;
}

.welcome{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('../img/welcome_background.jpg');
    background-position: center center;
}

.preferSpot{
    width: 100%;
    padding: 50px;
}

.favSpot{
    color: black;
    width: 100%;
    margin: 20px;
}

.favSpot:hover{
    opacity: 0.6;
}

.card-img-overlay{
    overflow: hidden;
}

.spot{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.searchSpot{
    width: 50%;
}

.surfrider{
    margin: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-image: url('../img/fond_surfRider.jpg');
    background-position: center center;
}

.informationAbout{
    width: 50%;
    text-align: center;
}

.copyRightInformationAbout {
    text-align: center;
    font-weight: bold;
}

.containerNav{
    display: flex;
    margin: 0px !important;
    height: 70px;
    align-items: center;
    min-width: 100%;
}

.buttonCollapse{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoNavBar{
    max-height: 100%;
    padding: 10px;
    margin-right: 20px;
}

.iconUserBar{
    display: flex;
    width: 10%;
    height: auto;
    align-items: center;
}

.iconUser{
    min-width: 50%;
    max-width: 50%;
    padding: 10px;
    height: auto;
}

.content{
    margin-top: 80px;
    background: rgb(0, 0, 0, 0.04);
    height: calc(100% - 180px);
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
}

.footer{
    height: 100%;
    width: 100%;
}

.logoFooter{
    max-height: 100%;
    padding: 10px;
}

.login {
    text-align: center;
    margin-top: 2rem;
  }
  
  .login h2 {
    text-align:left;
    margin-left: 2rem;
  }
  
  .login input {
    width: 90%;
    left : 2rem;
    border-style: solid;
    border-color: black;
    margin: 2rem 0 2rem 4rem;
  }
  
  .login-button {
    padding: 0.5rem 2rem;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    background-color: white;
  }

@media screen 
and (max-width: 590px) {
    .welcome > *{
        font-size: 20px;
    }

    .preferSpot > *{
        font-size: 10px;
    }

    .card-img-overlay > *{
        font-size: 10px;
    }
    
    .informationAbout > *{
        font-size: 10px;
    }

    .copyRightInformationAbout {
        font-size: 20px;
    }
    .nav-link {
        font-size: 5px;
    }

    .iconUser{
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .navbar-brand{
        font-size: 10px !important;
    }

    .buttonCollapse{
        padding: 0px !important;
    }
}

@media screen 
and (min-width: 590px) 
and (max-width: 1120px) {
    .welcome > *{
        font-size: 25px;
    }

    .preferSpot > *{
        font-size: 10px;
    }

    .card-img-overlay > *{
        font-size: 15px;
    }

    .informationAbout > *{
        font-size: 10px;
    }

    .copyRightInformationAbout {
        font-size: 20px;
    }
    .nav-link {
        font-size: 10px;
    }

    .iconUser{
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .navbar-brand{
        font-size: 15px !important;
    }

    .buttonCollapse{
        padding: 0px !important;
    }
#iconNavBar{
    width: 50px;
    height: 50px;
}

/* Chat-bot */
#chat-bot{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border: solid 5px blue;
}
#chat-bot img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}
#chat-bot div{
    padding: 50px;
}
#chat-bot p{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
   }
   
   /* Style the input fields */
   input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
   }
   
   .ressenti {
     text-align: center;
   }
   
   /* Mark input boxes that gets an error on validation: */
   input.invalid {
    background-color: #ffdddd;
   }
   
   /* Hide all steps by default: */
   .tab {
     padding-bottom: 1rem;
    display: none;
   }
   
   /* Make circles that indicate the steps of the form: */
   .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
   }
   
   /* Mark the active step: */
   .step.active {
    opacity: 1;
   }
   
   /* Mark the steps that are finished and valid: */
   .step.finish {
    background-color: #4CAF50;
   }
   
   .form-check-input {
     padding-bottom: 0.5rem;
   }
   