.containerNav{
    display: flex;
    margin: 0px !important;
    height: 70px;
    align-items: center;
    min-width: 100%;
}
.navbarleft{

    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: start;
}
.navbarrigth{

    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: end;
}
.logoNavBar{
    max-height: 100%;
    padding: 10px;
    margin-right: 20px;
}
.iconUserBar{
    display: flex;
    width: 10%;
    height: auto;
    align-items: center;
}
.iconUser{
    min-width: 70%;
    height: auto;
}
.content{
    margin-top: 80px;
    background: rgb(0, 0, 0, 0.04);
    height: calc(100% - 180px);
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
}

.footer{
    height: 100%;
    width: 100%;
}

.logoFooter{
    max-height: 100%;
    padding: 10px;
}
.welcome{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('../img/welcome_background.jpg');
    background-position: center center;
    margin-top: 100px;
}

.preferSpot{
    width: 100%;
    padding: 50px;
}

.favSpot{
    width: 100%;
    margin: 20px;
}

#iconNavBar{
    width: 50px;
    height: 50px;
}

/* Chat-bot */
#chat-bot{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border: solid 5px blue;
}
#chat-bot img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}
#chat-bot div{
    padding: 50px;
}
#chat-bot p{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}